.git
.gitignore
__pycache__/
*.pyc
*.pyo
.venv/
venv/
.env
.env.*
node_modules/
*.log
.github/
README.md
docs/
docker-compose.yml
influxdb_config
influxdb_data
prometheus/
prometheus_data/
grafana_data/
nginx/